<footer
          class="text-center text-lg-start text-white pt-2"
          style="background-color: #b17261"
          >

    
    <section class="shadow ">
      <div class="container text-center text-md-start mt-5 shadow">
        
        <div class="row mt-2">
          
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-8">
            
            <h6 class="mb-10 text-uppercase fw-bold">Ärevuse ABC</h6>
            <hr
                class="mb-4 mt-0 d-inline-block mx-auto"
                style="width: 60px; background-color: #7c4dff; height: 2px"
                />
            <p>
              Meie veebilehekülg on loodud selleks, et aidata inimestel
              ärevushäiretega toime tulla. Meie sihtgrupp on enamasti noored, kes
              kannatavad ärevushäirete all.
            </p>
          </div>

          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

            <h6 class="text-uppercase fw-bold">Lingid</h6>
            <hr
                class="mb-3 mt-0 d-inline-block mx-auto"
                style="width: 60px; background-color: #7c4dff; height: 2px"
                />
            <p>
              <a href="/game" class="text-white">Hingamisharjutus</a>
            </p>
            <p>
              <a href="/learngame" class="text-white">Õpimäng</a>
            </p>
            <p>
              <a href="/questions" class="text-white">Vaimsetervise test</a>
            </p>
            <p>
              <a href="/abc" class="text-white">Ärevuse ABC</a>
            </p>
          </div>
          
        </div>
    
      </div>
    </section>
   

    
    <div
         class="text-center p-3"
         style="background-color: rgba(0, 0, 0, 0.2)"
         >
      © 2022 Copyright:
      <a class="text-white" href="/"
         >TTHK TAR</a
        >
    </div>

  </footer>

<script type="text/javascript" src="javascript/sockets.js"></script>
</body>
</html>
