<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css" rel="stylesheet">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    <%- include('partials/navbar') %>
    <hr>
    <hr>
    <div class="container">

        <div class="row">
          <div class="col-12 col-md-6">
            <div class="row">
              <div class="col-12 grid-margin">
                <div class="card">
                  <div class="faq-block card-body">
                    <div class="container-fluid py-2">
                      <h5 class="mb-0">Kui tegemist on pakilise murega, siis helista</h5>
                    </div>
                    <div id="accordion-1" class="accordion">
                      <div class="card">
                        <div class="card-header" id="headingOne">
                          <h5 class="mb-0">
                            <a data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            112 - Kiirabi
                            </a>
                          </h5>
                        </div>
                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion-1">
                          <div class="card-body">
                            <p class="mb-0">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p><p>
                          </p></div>
                        </div>
                      </div>
                      <div class="card">
                        <div class="card-header" id="headingTwo">
                          <h5 class="mb-0">
                            <a data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                              660 4500 - vaimne tervis
                            </a>
                          </h5>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion-1">
                          <div class="card-body">
                            <p class="mb-0">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p><p>
                          </p></div>
                        </div>
                      </div>
                      <div class="card">
                        <div class="card-header" id="headingThree">
                          <h5 class="mb-0">
                            <a data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                116 123 - Hingehoiu telefon
                            </a>
                          </h5>
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion-1">
                          <div class="card-body">
                            <p class="mb-0">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p><p>
                          </p></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              
          <div class="col-12 col-md-6">
            <div class="row">
              <div class="col-12 grid-margin">
                <div class="card">
                  <div class="faq-block card-body">
                    <div class="container-fluid py-2">
                      <h5 class="mb-0">KKK</h5>
                    </div>
                    <div id="accordion-3" class="accordion">
                      <div class="card">
                        <div class="card-header" id="headingOne-3">
                          <h5 class="mb-0">
                            <a data-toggle="collapse" data-target="#collapseOne-3" aria-expanded="true" aria-controls="collapseOne-3">
                              Kuidas ma saan aru kas mul ärevushäire?
                            </a>
                          </h5>
                        </div>
                        <div id="collapseOne-3" class="collapse show" aria-labelledby="headingOne-3" data-parent="#accordion-3">
                          <div class="card-body">
                            <p class="mb-0">

                                Ärevus on tunne, mida kõik inimesed aeg-ajalt kogevad. Ärevusest saab ärevushäire juhul, kui ärevad mõtted hakkavad segama Sinu igapäevaelu, ärevustunne on väga tugev või kestab pikalt. 
                                
                                Võiksid täita emotsionaalse enesetunde <a href="/questions">küsimustikku</a>.
                                Uuri ka ärevushäirete kohta lähemalt <a href="/abc">SIIT</a>.
                                </p><p>
                          </p></div>
                        </div>
                      </div>
                      <div class="card">
                        <div class="card-header" id="headingTwo-3">
                          <h5 class="mb-0">
                            <a data-toggle="collapse" data-target="#collapseTwo-3" aria-expanded="false" aria-controls="collapseTwo-3">
                                Kuidas ma saan aru kas mul depressioon?</a>
                          </h5>
                        </div>
                        <div id="collapseTwo-3" class="collapse" aria-labelledby="headingTwo-3" data-parent="#accordion-3">
                          <div class="card-body">
                            <p class="mb-0">

                                Depressiooni puhul on tegemist haigusega, mis võib kulgeda igal inimesel erinevalt. Levinuimad sümptomid on alanenud meeleolu ja energiatase; rõõmu- ja huvitunde puudumine või vähesus. Depressiooni sümptomid kestavad vähemalt kahe nädala vältel, häirivad igapäevaelu ning võivad väljenduda lisaks ka inimese mõtlemises, käitumises ja kehalises enesetundes.
                                
                                Siin leheküljel on Sul võimalik täita emotsionaalse enesetunde küsimustikku, mille tulemused ei anna küll diagnoosi, kuid annavad Sulle mõtteid, mida edasi teha: Emotsionaalse Enesetunde Test – Peaasi.ee
                                </p><p>
                          </p></div>
                        </div>
                      </div>
                    
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12">
                <div class="card">
                  <div class="faq-block card-body">
                    <div class="container-fluid py-2">
                      <h5 class="mb-0">Section 4</h5>
                    </div>
                    <div id="accordion-2" class="accordion">
                      <div class="card">
                        <div class="card-header" id="headingOne-2">
                          <h5 class="mb-0">
                            <a data-toggle="collapse" data-target="#collapseOne-2" aria-expanded="true" aria-controls="collapseOne-2">
                              How many instances of Lorum Ipsum usage can be found on the web?
                            </a>
                          </h5>
                        </div>
                        <div id="collapseOne-2" class="collapse show" aria-labelledby="headingOne-2" data-parent="#accordion-2">
                          <div class="card-body">
                            <p class="mb-0">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p><p>
                          </p></div>
                        </div>
                      </div>
                      <div class="card">
                        <div class="card-header" id="headingTwo-2">
                          <h5 class="mb-0">
                            <a data-toggle="collapse" data-target="#collapseTwo-2" aria-expanded="false" aria-controls="collapseTwo-2">
                              What is Lorum Ipsum and who invented it?
                            </a>
                          </h5>
                        </div>
                        <div id="collapseTwo-2" class="collapse" aria-labelledby="headingTwo-2" data-parent="#accordion-2">
                          <div class="card-body">
                            <p class="mb-0">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p><p>
                          </p></div>
                        </div>
                      </div>
                      <div class="card">
                        <div class="card-header" id="headingThree-2">
                          <h5 class="mb-0">
                            <a data-toggle="collapse" data-target="#collapseThree-2" aria-expanded="false" aria-controls="collapseThree-2">
                              How may times Lorum Ipsum has been used in this theme?
                            </a>
                          </h5>
                        </div>
                        <div id="collapseThree-2" class="collapse" aria-labelledby="headingThree-2" data-parent="#accordion-2">
                          <div class="card-body">
                            <p class="mb-0">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p><p>
                          </p></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
         </div><!-- parent row -->
      </div>
      <script src="javascript/voice.js"></script>
      <script src="https://code.responsivevoice.org/responsivevoice.js?key=fJzSaOUt"></script>
      <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<style type="text/css">
body{
  margin-top:20px;
color: #6c7293;
}
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid #e7eaed;
  border-radius: 0;
}

.accordion .card {
  margin-bottom: .75rem;
  box-shadow: 0px 1px 15px 1px rgba(230, 234, 236, 0.35);
  border-radius: .25rem;
}
.accordion .card .card-header {
  background-color: transparent;
  border: none;
  padding: 2rem;
}
.grid-margin {
  margin-bottom: 0.625rem;
}
.accordion .card .card-header a[aria-expanded="true"]:before {
  content: "\F374";
}
.accordion .card .card-header a:before {
  font-family: "Material Design Icons";
  position: absolute;
  right: 7px;
  top: 0;
  font-size: 18px;
  display: block;
}
.accordion .card .card-header a[aria-expanded="false"]:before {
  content: "\F415";
}
</style>

</body>
</html>