<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/questions-style.css">
    <title>Questions</title>
</head>

<body>


    <h1>Questions</h1>

    
    <h2>1. Kui tihti sa tunned end üksi?</h2>
    <input type="radio" id="1" name="1" value="1"><label for="1">1</label><br>
    <input type="radio" id="2" name="1" value="2"><label for="2">2</label><br>
    <input type="radio" id="3" name="1" value="3"><label for="3">3</label><br>

    <h2>2. Kui tihti sa tunned end üksi?</h2>
    <input type="radio" id="1" name="2" value="1"><label for="1">1</label><br>
    <input type="radio" id="2" name="2" value="2"><label for="2">2</label><br>
    <input type="radio" id="3" name="2" value="3"><label for="3">3</label><br>

    <h2>3. Kui tihti sa tunned end üksi?</h2>
    <input type="radio" id="1" name="3" value="1"><label for="1">1</label><br>
    <input type="radio" id="2" name="3" value="2"><label for="2">2</label><br>
    <input type="radio" id="3" name="3" value="3"><label for="3">3</label><br>

    <h2>4. Kui tihti sa tunned end üksi?</h2>
    <input type="radio" id="1" name="4" value="1"><label for="1">1</label><br>
    <input type="radio" id="2" name="4" value="2"><label for="2">2</label><br>
    <input type="radio" id="3" name="4" value="3"><label for="3">3</label><br>

    <h2>5. Kui tihti sa tunned end üksi?</h2>
    <input type="radio" id="1" name="5" value="1"><label for="1">1</label><br>
    <input type="radio" id="2" name="5" value="2"><label for="2">2</label><br>
    <input type="radio" id="3" name="5" value="3"><label for="3">3</label><br>

    <h2>6. Kui tihti sa tunned end üksi?</h2>
    <input type="radio" id="1" name="6" value="1"><label for="1">1</label><br>
    <input type="radio" id="2" name="6" value="2"><label for="2">2</label><br>
    <input type="radio" id="3" name="6" value="3"><label for="3">3</label><br>

    <h2>7. Kui tihti sa tunned end üksi?</h2>
    <input type="radio" id="1" name="7" value="1"><label for="1">1</label><br>
    <input type="radio" id="2" name="7" value="2"><label for="2">2</label><br>
    <input type="radio" id="3" name="7" value="3"><label for="3">3</label><br>

    <h2>8. Kui tihti sa tunned end üksi?</h2>
    <input type="radio" id="1" name="8" value="1"><label for="1">1</label><br>
    <input type="radio" id="2" name="8" value="2"><label for="2">2</label><br>
    <input type="radio" id="3" name="8" value="3"><label for="3">3</label><br>

    <h2>9. Kui tihti sa tunned end üksi?</h2>
    <input type="radio" id="1" name="9" value="1"><label for="1">1</label><br>
    <input type="radio" id="2" name="9" value="2"><label for="2">2</label><br>
    <input type="radio" id="3" name="9" value="3"><label for="3">3</label><br>

    <h2>10. Kui tihti sa tunned end üksi?</h2>
    <input type="radio" id="1" name="10" value="1"><label for="1">1</label><br>
    <input type="radio" id="2" name="10" value="2"><label for="2">2</label><br>
    <input type="radio" id="3" name="10" value="3"><label for="3">3</label><br>

    <h2>11. Kui tihti sa tunned end üksi?</h2>
    <input type="radio" id="1" name="11" value="1"><label for="1">1</label><br>
    <input type="radio" id="2" name="11" value="2"><label for="2">2</label><br>
    <input type="radio" id="3" name="11" value="3"><label for="3">3</label><br>

    <h2>12. Kui tihti sa tunned end üksi?</h2>
    <input type="radio" id="1" name="12" value="1"><label for="1">1</label><br>
    <input type="radio" id="2" name="12" value="2"><label for="2">2</label><br>
    <input type="radio" id="3" name="12" value="3"><label for="3">3</label><br>


    <button type="submit" name="submit" onclick="result()">Submit</button>

    <div class="modal-container" id="modal_container">
        <div class="modal">
            <h2>Teie tulemus on:</h2>
            <p id="result"></p>
            <!-- Progress bar -->

            <!-- <div class="progress">
                <div class="progress-done" data-done="70"></div>  
            </div> -->

            <p id="score"></p>
            <button id="close" >Sulge</button>
        </div>
    </div>

<script src="javascript/questionbar.js"></script>
<script src="javascript/progress.js"></script>

</body>

</html>